<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sample Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <link rel="stylesheet" href="../public/styles/main.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div id="sidebar">
                <div class="header_container">
                    <div class="explorer_title">EXPLORER</div>
                    <div class="status" style="color: green;">Online</div>
                </div>
                <div class="btn-group-vertical" id="buttons">
                </div>
            </div>
            <div id="form_content">
                <h3 id="app_name"></h3>
                <div id="status_saved" class="alert alert-success" role="alert">
                   Data saved!
                </div>
                <div id="question" class="alert alert-success" role="alert">
                    Data saved!
                 </div>
                <form id = "forms">
                    <!-- <div id = "inputs" style="display: grid; grid-gap: 10px;"> -->
                    <div id = "inputs">
                        <!-- <table id = "whole-table">
                            <thead>
                                <th>Actions</th>
                                <th>Name</th>
                                <th>Name</th>
                                <th>Name</th>
                            </thead>
                            <tbody id = "contents">
                                <tr class="table-row">
                                    <td><span class="action-btn far fa-eye"></span> <span class="action-btn fas fa-edit"></span> <span class="action-btn far fa-trash-alt"></span></td>
                                    <td>Jairo</td>
                                    <td>Jairo</td>
                                    <td>Jairo</td>
                                </tr>
                            </tbody>
                        </table> -->
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script>
        window.$ = window.JQuery = require('jquery');
        const electron = require('electron');
        const {ipcRenderer} = electron;
        var final_array = [];
        var column_name = [];
        var app_id = '';
        // name of file
        var file_name = '';
        // id of the app
        var app_id_send = '';
        var con;
        $('#buttons').empty();
        $('#status_saved').empty().removeClass('alert alert-success');
        $('#question').empty().removeClass('alert alert-danger');

        ipcRenderer.on('view-data', (event, arg, data, _id) => {
            $('#question').empty().removeClass('alert alert-danger');
            //arg = form data
            //data = data saved
            // console.log(data);

            function render_table(){
                $("#inputs").empty();
                $("#app_name").html('<span class="btn btn-lg btn-light fas fa-plus" id="open_form"></span> '+arg._app.caption);
                var content = '';
                content += '<table class="table table-bordered">';
                content += '<thead>';
                content += '<tr>';
                content += '<th scope="col">Actions</th>';
                arg.columns.forEach(element => {
                    content += '<th scope="col">'+element[0]+'</th>';
                });
                content += '</tr>';
                content += '</thead>';
                content += '<tbody>';
                var ctr = 0;
                
                // console.log(data[0]);
                // data.forEach(element => {
                //     console.log(con);
                //     var column_data = element.data;
                //     // console.log(column_data);

                //     for (var key in column_data){
                //         if(column_data.hasOwnProperty(key)){
                //             content += '<td>' + column_data[key] + '</td>';
                //             console.log(column_data[key])
                //         }
                //     }

                // });

                data.forEach(element => {
                    if(con){
                        var column_data = element._doc.data;
                    }
                    else{
                        var column_data = element.data;
                    }
                    // console.log(column_data);
                    content += '<tr>';
                    content += '<td> <span class="edit-btn action-btn fas fa-edit" data-id="'+_id[ctr]+'"></span> <span class="delete-btn action-btn far fa-trash-alt" data-id="'+_id[ctr]+'"></span></td>';
                    
                    arg.columns.forEach(element => {
                        content += '<td>' + column_data[element[0]] + '</td>';
                    });
                    // for (var key in column_data){
                    //     if(column_data.hasOwnProperty(key)){
                    //         // console.log(key);
                    //         if(key == '_id'){

                    //         }
                    //         else{
                    //             content += '<td>' + column_data[key] + '</td>';
                    //         }
                    //     }
                    // }
                    content += '</tr>';
                    ctr++;
                });
                content += '</tbody>';
                content += '</table>';
                $('#inputs').append(content);
                contents = '';
                // ================================== Delete Data ============================== //
                $(".delete-btn").on('click',function() {
                    var data_to_be_deleted_id = $(this).attr('data-id');
                    app_id = arg._app.appId;
                    ipcRenderer.send('view-delete-data', data_to_be_deleted_id, app_id);
                });

                // render view delete data
                ipcRenderer.on('view-delete-data', function(event, data_id, data){
                    $('#status_saved').empty().removeClass('alert alert-success alert-danger');
                    $('#question').empty().removeClass('alert alert-success alert-danger');

                    $('#question').append('Are you sure you want to delete this record?').addClass('alert alert-danger');

                    if(con){
                        var view_data_delete = data._doc.data;
                    }
                    else{
                        var view_data_delete = data.data;
                    }
                    // console.log(data._doc.data);
                    // view_data_delete
                    $("#inputs").empty();
                    $("#app_name").html('');
                    $("#app_name").html('<span class="btn btn-lg btn-light far fa-eye" id="render_table"></span> '+arg._app.caption);
                    app_id = arg._app.appId;
                    var container;
                    final_array = [];
                    column_name = [];
                    // console.log(arg);
                    arg.columns.forEach(element => {
                        var type;
                        var input;
                        column_name = [];
                        column_name.push(element[0], element[1]);
                        final_array.push(column_name);
                        var type2;
                        if(element[2] == "Editable"){
                            type = '';
                        }else if(element[2] == "Computed"){
                            type = 'disabled';
                        }
                        if(element[1] == "Text"){
                            input = $('<input type="text" class="form-control" value="'+view_data_delete[element[0]]+'" disabled></div>')
                        }
                        else if(element[1] == "Time"){
                            input = $('<input type="time" class="form-control" value="'+view_data_delete[element[0]]+'" disabled></div>')
                        }
                        else if(element[1] == "Number"){
                            input = ('<input type="number" class="form-control" value="'+view_data_delete[element[0]]+'" disabled>')
                        }
                        else if(element[1] == "Date"){
                            input = ('<input type="date" class="form-control" value="'+view_data_delete[element[0]]+'" disabled>')
                        }
                        else if(element[1] == "Text Area"){
                            input = ('<textarea class="form-control" disabled>'+view_data_delete[element[0]]+'</textarea>')
                        }
                        else if(element[1].match(/selection-option-.*/)){
                            input = $('<input type="text" class="form-control" value="'+view_data_delete[element[0]]+'" disabled></div>')
                        }
                        else if(element[1].match(/checkbox-option-.*/)){
                            var ret = element[1].replace('checkbox-option-', '');
                            var result = ret.split(";");

                            input = '';
                            result.forEach(value => {
                                input+= '<div class="form-check"><input type="checkbox" class="'+element[0]+'" name="'+element[0]+'" value="'+value+'" class="form-check-input" /><label class="form-check-label">'+value+'</label></div>'
                            });
                        }
                        else if(element[1].match(/typeahead-option-.*/)){
                            input = $('<input type="text" class="form-control" value="'+view_data_delete[element[0]]+'" disabled></div>')
                        }

                        // console.log('grid-column : ' + element[4].column);

                        var label = $('<label></label>').text(element[0]);
                        var form_group = $('<div class="form-group col"></div>').append(label, input);
                        if(element[4]=''){
                            $('#inputs').append(form_group);
                        }else{
                            var form_row = $('<div class="form-row"></div>').append(form_group);
                            var form_grid = $('<div style="grid-column: '+element[4].column+'; grid-row: '+element[4].row+'"></div>').append(form_row);
                            $('#inputs').append(form_grid);
                        }
                    });
                    $('#inputs').append('<button type="button" class="btn btn-danger" id="delete_data" data-id="'+data_id+'">Delete</button>');
                    
                    $("#render_table").on('click',function() {
                        $('#question').empty().removeClass('alert alert-danger');
                        render_table();
                    });

                    // delete data
                    $('#delete_data').on('click', function(){
                        $('#question').empty().removeClass('alert alert-danger');
                        var id_delete = $(this).attr('data-id');
                        app_id = arg._app.appId;
                        ipcRenderer.send('delete-data', id_delete, app_id);
                    });

                    // deletion indicator
                    ipcRenderer.on('delete-indicator', function(event, data_id, data){
                        $('#status_saved').empty().removeClass('alert alert-success');
                        $('html').animate({scrollTop:$('html').offset().top}, 'slow');
                        $('#status_saved').append('Data deleted!').addClass('alert alert-success');
                        ipcRenderer.send('view-data', file_name, app_id_send);
                    });
                });

                // =================================== EDIT DATA ============================= //
                $(".edit-btn").on('click',function() {
                    var data_to_be_edited_id = $(this).attr('data-id');
                    app_id = arg._app.appId;
                    ipcRenderer.send('view-edit-data', data_to_be_edited_id, app_id);
                });
                
                ipcRenderer.on('view-edit-data', function(event, data_id, data){
                    $('#status_saved').empty().removeClass('alert alert-success');
                    $("#inputs").empty();
                    $("#app_name").html('');
                    $("#app_name").html('<span class="btn btn-lg btn-light far fa-eye" id="render_table"></span> '+arg._app.caption);
                    
                    $('#question').empty().removeClass('alert alert-success alert-danger');

                    $('#question').append('Are you sure you want to edit this record?').addClass('alert alert-danger');


                    if(con){
                        var view_data_edit = data._doc.data;
                    }
                    else{
                        var view_data_edit = data.data;
                    }
                    app_id = arg._app.appId;
                    var container;
                    final_array = [];
                    column_name = [];
                    // console.log(arg);
                    arg.columns.forEach(element => {
                        var type;
                        var input;
                        column_name = [];
                        column_name.push(element[0], element[1]);
                        final_array.push(column_name);
                        var type2;
                        if(element[2] == "Editable"){
                            type = '';
                        }else if(element[2] == "Computed"){
                            type = 'disabled';
                        }
                        if(element[1] == "Text"){
                            input = $('<input type="text" class="form-control" name="'+element[0]+'_edit" placeholder="Enter '+element[0]+'" value="'+view_data_edit[element[0]]+'" '+type+'></div>')
                        }
                        else if(element[1] == "Time"){
                            input = $('<input type="time" class="form-control" name="'+element[0]+'_edit" placeholder="Enter '+element[0]+'" value="'+view_data_edit[element[0]]+'" '+type+'></div>')
                        }
                        else if(element[1] == "Number"){
                            input = ('<input type="number" class="form-control" name="'+element[0]+'_edit" placeholder="Enter '+element[0]+'" value="'+view_data_edit[element[0]]+'" '+type+'>')
                        }
                        else if(element[1] == "Date"){
                            input = ('<input type="date" class="form-control" name="'+element[0]+'_edit" placeholder="Enter '+element[0]+'" value="'+view_data_edit[element[0]]+'" '+type+'>')
                        }
                        else if(element[1] == "Text Area"){
                            input = ('<textarea class="form-control" name="'+element[0]+'_edit" rows="3" '+type+'>'+view_data_edit[element[0]]+'</textarea>')
                        }
                        else if(element[1].match(/selection-option-.*/)){
                            var ret = element[1].replace('selection-option-', '');
                            var result = ret.split(";");

                            input = '<select id="inputState" name="'+element[0]+'_edit" class="form-control"><option selected>Choose...</option>'
                                result.forEach(value => {
                                    if(view_data_edit[element[0]] == value){
                                        input+= '<option value="'+value+'" selected>' + value + '</option>'
                                    }
                                    else{
                                        input+= '<option value="'+value+'">' + value + '</option>'
                                    }
                                });
                                input += '</select>'
                        }
                        else if(element[1].match(/checkbox-option-.*/)){
                            var ret = element[1].replace('checkbox-option-', '');
                            var result = ret.split(";");
                            var ctr_edit_check = 0;
                            input = '';
                            result.forEach(value => {
                                // console.log(view_data_edit[element[0]][0])
                                if(view_data_edit[element[0]][ctr_edit_check] == value){
                                    input+= '<div class="form-check"><input type="checkbox" class="'+element[0]+'_edit" name="'+element[0]+'" value="'+value+'" class="form-check-input" checked /><label class="form-check-label">'+value+'</label></div>'
                                }
                                else{
                                    input+= '<div class="form-check"><input type="checkbox" class="'+element[0]+'_edit" name="'+element[0]+'" value="'+value+'" class="form-check-input" /><label class="form-check-label">'+value+'</label></div>'
                                }
                                ctr_edit_check++;
                            });
                        }
                        else if(element[1].match(/typeahead-option-.*/)){
                            input = $('<input type="text" class="form-control" name="'+element[0]+'_edit" placeholder="Enter '+element[0]+'" value="'+view_data_edit[element[0]]+'" '+type+'></div>')
                        }

                        // console.log('grid-column : ' + element[4].column);

                        var label = $('<label></label>').text(element[0]);
                        var form_group = $('<div class="form-group col"></div>').append(label, input);
                        if(element[4]=''){
                            $('#inputs').append(form_group);
                        }else{
                            var form_row = $('<div class="form-row"></div>').append(form_group);
                            var form_grid = $('<div style="grid-column: '+element[4].column+'; grid-row: '+element[4].row+'"></div>').append(form_row);
                            $('#inputs').append(form_grid);
                        }
                    });
                    $('#inputs').append('<button type="button" class="btn btn-primary" id="submit_update" data-id="'+data_id+'">Update</button>');
                    
                    $("#render_table").on('click',function() {
                        $('#question').empty().removeClass('alert alert-success alert-danger');
                        render_table();
                    });

                    $('#submit_update').on('click', function(){
                        $('#question').empty().removeClass('alert alert-danger');
                        var id_update = $(this).attr('data-id');
                        app_id = arg._app.appId;

                        var value = '';
                        var obj = {
                            "Customer" : "Customer A",
                            "Transaction" : app_id,
                            "data" : {

                            }
                        }
                        // console.log(final_array);
                        final_array.forEach(element => {
                            if(element[1].match(/typeahead-option-.*/) || element[1] == "Text" || element[1] == "Time" || element[1] == "Number" || element[1] == "Date"){
                                value = $('input[name="'+element[0]+'_edit"]').val();
                                obj.data[element[0]] = value;
                            }
                            else if(element[1] == "Text Area"){
                                console.lo
                                value = $('textarea[name="'+element[0]+'_edit"]').val();
                                obj.data[element[0]] = value;
                            }
                            else if(element[1].match(/selection-option-.*/)){
                                value = $('select[name="'+element[0]+'_edit"]').val();
                                obj.data[element[0]] = value;
                            }
                            else if(element[1].match(/checkbox-option-.*/)){
                                var sList = [];
                                $('input[name="'+element[0]+'_edit"]:checked').each(function() {
                                    sList.push(this.value);
                                });
                                obj.data[element[0]] = sList;
                            }
                            //
                            //
                        });
                        ipcRenderer.send('update-data', id_update, app_id, obj);
                    });

                    // updating indicator
                    ipcRenderer.on('update-indicator', function(event, data_id, data){
                        $('#status_saved').empty().removeClass('alert alert-success');
                        $('html').animate({scrollTop:$('html').offset().top}, 'slow');
                        $('#status_saved').append('Data updated!').addClass('alert alert-success');
                        ipcRenderer.send('view-data', file_name, app_id_send);
                    });
                });

                //opening form
                $("#open_form").on('click',function() {
                    $('#status_saved').empty().removeClass('alert alert-success');
                    $("#inputs").empty();
                    $("#app_name").html('');
                    $("#app_name").html('<span class="btn btn-lg btn-light far fa-eye" id="render_table"></span> '+arg._app.caption);
                    app_id = arg._app.appId;
                    var container;
                    final_array = [];
                    column_name = [];
                    // console.log(arg);
                    arg.columns.forEach(element => {
                        var type;
                        var input;
                        column_name = [];
                        column_name.push(element[0], element[1]);
                        final_array.push(column_name);
                        var type2;
                        if(element[2] == "Editable"){
                            type = '';
                        }else if(element[2] == "Computed"){
                            type = 'disabled';
                        }
                        if(element[1] == "Text"){
                            input = $('<input type="text" class="form-control" name="'+element[0]+'" placeholder="Enter '+element[0]+'" '+type+'></div>')
                        }
                        else if(element[1] == "Time"){
                            input = $('<input type="time" class="form-control" name="'+element[0]+'" placeholder="Enter '+element[0]+'" '+type+'></div>')
                        }
                        else if(element[1] == "Number"){
                            input = ('<input type="number" class="form-control" name="'+element[0]+'" placeholder="Enter '+element[0]+'" '+type+'>')
                        }
                        else if(element[1] == "Date"){
                            input = ('<input type="date" class="form-control" name="'+element[0]+'" placeholder="Enter '+element[0]+'" '+type+'>')
                        }
                        else if(element[1] == "Text Area"){
                            input = ('<textarea class="form-control" name="'+element[0]+'" rows="3" '+type+'></textarea>')
                        }
                        else if(element[1].match(/selection-option-.*/)){
                            var ret = element[1].replace('selection-option-', '');
                            var result = ret.split(";");

                            input = '<select id="inputState" name="'+element[0]+'" class="form-control"><option selected>Choose...</option>'
                                result.forEach(value => {
                                    input+= '<option value="'+value+'">' + value + '</option>'
                                });
                                input += '</select>'
                        }
                        else if(element[1].match(/checkbox-option-.*/)){
                            var ret = element[1].replace('checkbox-option-', '');
                            var result = ret.split(";");

                            input = '';
                            result.forEach(value => {
                                input+= '<div class="form-check"><input type="checkbox" class="'+element[0]+'" name="'+element[0]+'" value="'+value+'" class="form-check-input" /><label class="form-check-label">'+value+'</label></div>'
                            });
                        }
                        else if(element[1].match(/typeahead-option-.*/)){
                            input = $('<input type="text" class="form-control" name="'+element[0]+'" placeholder="Enter '+element[0]+'" '+type+'></div>')
                        }

                        // console.log('grid-column : ' + element[4].column);

                        var label = $('<label></label>').text(element[0]);
                        var form_group = $('<div class="form-group col"></div>').append(label, input);
                        if(element[4]=''){
                            $('#inputs').append(form_group);
                        }else{
                            var form_row = $('<div class="form-row"></div>').append(form_group);
                            var form_grid = $('<div style="grid-column: '+element[4].column+'; grid-row: '+element[4].row+'"></div>').append(form_row);
                            $('#inputs').append(form_grid);
                        }
                    });
                    $('#inputs').append('<button type="button" class="btn btn-primary" id="submit_data">Submit</button>');
                    
                    $("#render_table").on('click',function() {
                        render_table();
                    });
                });
            }
            render_table();
            // appending form
           
            // console.log(column_name);
            // console.log(arg.columns) // prints "pong"
        });

        // get json
        ipcRenderer.on('list_files', function(event, item){
            $('#buttons').empty();
            item.sort(function(a, b){
                if(a.app_name < b.app_name){return -1; }
                if(a.app_name > b.app_name){return 1; }
                return 0;
            }).forEach(element => {
                $("#buttons").append('<span class="file_button" value="'+element.path_send+'" data-id="'+element.app_id+'">'+element.app_name+'</span>');
            });

            // get list of files for online
            // $(".file_button").one('click',function() {
            // $(".file_button").unbind().click(function() {
            $('.file_button').on('click',function() {
                $("#inputs").empty();
                file_name = $(this).attr('value');
                app_id_send = $(this).attr('data-id');
                $('#status_saved').empty().removeClass('alert alert-success');
                ipcRenderer.send('view-data', file_name, app_id_send);
            })
            // console.log(item);
        });
        // get list of data
        // ipcRenderer.on('list-data', function(event, item){
        //     console.log(item);
        //     // console.log(item);
        // });
        
        function checkInternet() {
            require('dns').lookup('google.com',function(err) {
                con = err && err.code == "ENOTFOUND" ? false : true
            })
        }
        setInterval(function(){
            checkInternet();
            // console.log(con);
            $('.status').empty();
            if(con == true){
                $('.status').append('Online');
                $('.status').css("color", "green");
            }
            else{
                $('.status').append('Offline');
                $('.status').css("color", "red");
            }
            ipcRenderer.send('list_files', 'ping2', con);
        }, 1000);

        
        // ipcRenderer.send('upload-json', 'ping1');

        $(document).ready(function () {
            // get list of files for offline

            $(document).on('click','#submit_data',function(e) {
                //console.log('clicked');
                var value = '';
                var obj = {
                    "Customer" : "Customer A",
                    "Transaction" : app_id,
                    "data" : {

                    }
                }
                // console.log(final_array);
                final_array.forEach(element => {
                    if(element[1].match(/typeahead-option-.*/) || element[1] == "Text" || element[1] == "Time" || element[1] == "Number" || element[1] == "Date"){
                        value = $('input[name="'+element[0]+'"]').val();
                        obj.data[element[0]] = value;
                    }
                    else if(element[1] == "Text Area"){
                        console.lo
                        value = $('textarea[name="'+element[0]+'"]').val();
                        obj.data[element[0]] = value;
                    }
                    else if(element[1].match(/selection-option-.*/)){
                        value = $('select[name="'+element[0]+'"]').val();
                        obj.data[element[0]] = value;
                    }
                    else if(element[1].match(/checkbox-option-.*/)){
                        var sList = [];
                        $('input[name="'+element[0]+'"]:checked').each(function() {
                            sList.push(this.value);
                        });
                        obj.data[element[0]] = sList;
                    }
                    //
                    //
                    // console.log(element[0]);
                });
                ipcRenderer.send('send-data', obj);
                // console.log(column_name);
                // console.log();
            });
        });

        ipcRenderer.on('saved-indicator', function(event, indicator){
            if(indicator){
                $('#status_saved').empty().removeClass('alert alert-success');
                $('#question').empty().removeClass('alert alert-danger');
                // $('#submit_data').closest('#forms').find("input[type=text], textarea, input[type=date], input[type=time], input[type=number]").val("");
                // $('#submit_data').closest('#forms').find("select").prop('selectedIndex', 0);
                // $('#submit_data').closest('#forms').find("input[type=checkbox]").prop('checked', false);
                $('html').animate({scrollTop:$('html').offset().top}, 'slow');
                $('#status_saved').append('Data saved!').addClass('alert alert-success');
                ipcRenderer.send('view-data', file_name, app_id_send);
            }
        });

        //to be deleted data
    </script>
</body>
</html>
